[package]
name = "arm"
version = "0.1.0"
edition = "2021"
description = "ARM (32) kernel"

[dependencies]
dif = { path = "../../include/dif/" }
setup = { path = "../../kernel/setup/" }

[features]
cortex_a = []
cortex_m = []
rpi2b = ["cortex_a"]
stellaris6965 = ["cortex_m"]
stm32f407 = ["cortex_m"]
